/* ----------------------------------------------------------------
[Table of contents]
01. aside / sidebar
------------------------------------------------------------------- */

/* Aside / Sidebar */

body.user-dashboard {

} 
body.user-dashboard aside ul li.active {
  background-color: #F2994A !important;
  border-radius:.25rem!important;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}
body.user-dashboard aside ul li {
  cursor: pointer;
}
body.user-dashboard aside ul li.active span {
  color: #00214D !important;
}